<div *ngIf="citas && citas.length; else noCitas">
  <!-- Mostrar las citas -->
  <div *ngFor="let cita of citas">
    <app-cita-card [cita]="cita" (citaCancelada)="onCitaCancelada()"></app-cita-card>
    <button (click)="eliminar(cita)">Eliminar cita</button>
  </div>
</div>

<!-- Template a mostrar si no hay citas -->
<ng-template #noCitas>
  <div class="no-citas-message">No tienes reservas. ¿Deseas <span class="reservar-link" (click)="redirigirAReservar()">reservar</span> una cita?</div>
</ng-template>


