
<div id="conteiner">
    <h1>Ingresar</h1>
    <form [formGroup]="loginForm"(ngSubmit)="enviar(loginForm.value)" >

   
    <label>Email:</label>
    <input formControlName="email" type="email" />
        <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" >Email is required</div>

    

    <label>Contraseña:</label>
    <input formControlName="clave" type="password" />
    <button [disabled]="loginForm.invalid" type="submit">Registrarse</button>

    </form>
</div>
