<body>
  <app-banner [usuario]="usuario"></app-banner>

  <div class="grid-container">
    <aside class="aside">
      <h2>Menú</h2>
      <nav id="opcionesCliente" *ngIf="hasClientRole()">
        <p>Opciones usuario</p>
        <ul>
          <li><button routerLink="./agendar-citas">Agendar citas</button></li>
          <li><button routerLink="./mis-citas">Mis citas</button></li>
        </ul>
      </nav>

      <nav id="opcionesProfesional" *ngIf="hasProfessionaltRole()">
        <p>Opciones Profesional</p>
        <ul>
          <li><button routerLink="./gestionar-citas">Gestionar citas</button></li>
        </ul>
      </nav>
    </aside>

    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>
<div class="content-wrap">
  <app-footer></app-footer>
</div>
</body>


