/* Estilo del contenedor principal que usa flexbox para organizar el layout */
.grid-container {
  display: flex; /* Usar flexbox */
  height: 100%; /* Hacer que el contenedor ocupe toda la altura de la ventana */
}

/* Estilo para el panel lateral (aside) */
.aside {
  background-color: #ffe0f0; /* Color de fondo rosa */
  color: #d63384; /* Color de texto blanco */
  width: 200px; /* Ancho del aside */
  padding: 20px; /* Espacio interior para los elementos dentro del aside */
  height: 100vh;
  overflow-y: auto;
}


/* Estilo para el área principal donde se mostrará el contenido dinámico */
.main {
  background-color: #aca7a7; /* Color de fondo gris claro */
  flex: 1; /* El main ocupará todo el espacio disponible restante */
  padding: 20px; /* Espacio interior para el contenido */
}


/* Estilos para las opciones de navegación */
#opcionesCliente, #opcionesProfesional { /* Asegúrate de que los IDs sean únicos si se refieren a elementos diferentes */
  margin-bottom: 20px; /* Espacio debajo de cada sección de navegación */
}

#opcionesCliente ul, #opcionesProfesional ul {
  list-style-type: none; /* Elimina los marcadores de lista */
  padding: 0; /* Elimina el padding predeterminado */
}

#opcionesCliente li, #opcionesProfesional li {
  margin-bottom: 10px; /* Espacio entre las opciones de lista */
}

#opcionesCliente a, #opcionesProfesional a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color:#d63384; /* Establece el color del texto de los enlaces */
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF69B4; /* Color de fondo rosa */
  color: #FFFFFF; /* Color de texto blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Eliminar subrayado */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

button:hover {
  background-color: #FF1493; /* Color de fondo rosa más oscuro al pasar el ratón */
}
.content-wrap{
  flex: 1;
}
