<body>
    <div class="grid-container">
        <header class="header">Encabezado
            <app-banner></app-banner>
            <div *ngIf="usuario">
                <h1>BIenvenid@</h1>
                <p>{{ usuario.firstName }} {{ usuario.lastName }}</p>
                 <p>Email: {{ usuario.email }}</p>
                <button (click)="logout()">Cerrar sesion</button>
              </div>
        </header>
        <aside class="aside">Menú

            <nav id="opcionesCliente" *ngIf="hasClientRole()">
                <p>Opciones usuario</p>
                <ul>
                  <li><a routerLink="./agendar-citas">agendar citas</a></li>
                  <li><a routerLink="./mis-citas">mis citas</a></li>
                </ul>
              </nav>

              <nav id="opcionesCliente" *ngIf="hasProfessionaltRole()">
                <p>Opciones Profesional</p>
                <ul>
                  <li><a routerLink="./agendar-citas">agendar citas</a></li>
                  <li><a routerLink="./mis-citas">mis citas</a></li>
                </ul>
              </nav>
        </aside>
        <main class="main">Contenido Principal
            <router-outlet></router-outlet>
        </main>
       
    </div>
</body>
